* {
  box-sizing: border-box;
 }

body {
  background-color: rgb(0, 0, 0, .8);
  background-image: url("./images/vinyl\ gif.gif");
  background-blend-mode: multiply;
  background-size: cover;
  /* background-repeat: repeat; */
}

.landingPage { 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:baseline;
  padding: 10px;
  margin: 0;
}

