* {
  box-sizing: border-box;
  scroll-behavior: smooth;
 }

 a:link {
  text-decoration: none;
}

 html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1b1b1b;
}


.modalForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  min-height: 500px;
  background-color: #252525;
  box-shadow: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}



.cardDetails {
  padding: 10px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 0px;
}


.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: white;
  background-color: black;
  position: relative;
  height: 100px; 
  margin-top: -100px;
  clear: both;
}

